.plus {
  background-color: var(--white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: fixed;
  bottom: 1.0625rem;
  right: 0.6875rem;
  border: 1px solid var(--main);
  box-shadow: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(2px 1px 0px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.name {
  margin-bottom: 1.3125rem;
}

.event {
  display: flex;
  align-items: center;
}

.add {
  margin-left: 0.6875rem;
}
